*{
	padding: 0;
	margin: 0;
	outline: 0;
}

ul,ol{
	list-style: none;
}

a,a:hover{
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}

.container{
	width: 80%;
	margin: 0 auto;
}

/*navigation part start */
.tanim{
	clear: both;
}
nav{
	background-color: white;
	padding: 5px 0;
}
.logo{
	width: 30%;
	float: left;
}

.menu{
	width: 70%;
	float: left;
}
.menu ul {
	float: right;
}

.menu ul li{
	float: left;
	padding: 10px 20px;
}

.menu ul li a{
	color: #0063B4;
	font-size: 20px;
	font-family: system-ui;
}
/*navigation part end */

/*banner part start */
#banner{
	background: url(../images/banner1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.banner_overlay{
background-color: rgba(0,0,0,0.7);
padding: 170px 0;
}

.banner_content h1{
	color: white;
	font-size: 70px;
	font-family: system-ui;
	text-transform: uppercase;
}

.banner_content h4{
	color: orange;
	font-size: 40px;
	font-family: sans-serif;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.banner_content a{
	padding: 13px 35px;
	background-color: #0063B4;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 30px;
}
/*banner part end */

/*about part start */
.about_heading h4{
	text-align: center;
	margin: 40px 0;
	background-color: #0063B4;
	padding: 10px 0;
	font-size: 25px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	border-radius: 30px;

}
.about_img{
	width: 50%;
	float: left;
}

.about_content{
	width: 50%;
	float: left;
}

.about_img img{
	width: 100%;
	height: 400px;
}

.about_content h4{
 text-align: center;
 font-size: 30px;
 font-family: sans-serif;
 text-transform: uppercase;
 margin-top: 20px;
 margin-bottom: 10px;
}

.about_content p{
	text-align: justify;
	padding-left: 20px;
	line-height: 25px;
	font-family: sans-serif;
}
/*about part end */

/*gallery part start */
.gallery_img{
	width: 32%;
	float:left;
	position: relative;
}

.gallery_img img{
	width: 100%;
}
.gallery_overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transition: all linear 0.3s;
}
.gallery_overlay a{
	color: white;
	height: 40px;
	width: 40px;
	border-color: tomato;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.gallery_img:hover .gallery_overlay{
	transform: scale(1);
}
.img_middle{
	margin: 0 2%;
}
/*gallery part end */

/* service part start */
.service_main{
	width: 23.5%;
	float: left;
	background-color: lightgray;
	text-align: center;
}
.service_main:hover{
	box-shadow: 1px 1px 20px black;
	transition: all linear 0.3s;
}
.service_main .icon{
	height: 40px;
	width: 40px;
	background-color: #0063B4;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 20px;
}
.service_main h4{
	font-size: 20px;
	font-family: sans-serif;
	padding-bottom: 10px;
}
.service_main p{
	text-align: justify;
	line-height: 22px;
	padding-bottom: 20px;
	padding: 0px 20px 20px;
	font-family: sans-serif;
}
.enroll{
	padding: 8px 25px;
	background-color: #0063B4;
	display: inline-block;
	color: white;
	border-radius: 30px;
	margin-bottom: 20px;
}
.second{
	margin: 0 1.5%;
}
.third{
	margin-right: 1.5%;
}
/* service part end */

/* footer part start */
footer{
	background-color: black;
	margin-top: 50px;
	padding: 30px 0px;
}
.copy_right{
	text-align: center;
	color: white;
	font-family: sans-serif;

}
/* footer part end */


